{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <h1 class="light">Crear vuelo</h1>

  <ul>
    <li>
      <a href="{{ path('vuelo_index') }}">Volver a la lista</a>
    </li>
  </ul>
  {{ form_start(form) }}
  {{ form_widget(form) }}
  <input class="btn green" type="submit" value="Crear" />
  {{ form_end(form) }}

</div>
{% endblock %}
