<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block stylesheets %}
        {% stylesheets
        '@uicss'
        '@AppBundle/Resources/public/css/page-center.css'
        filter='cssrewrite' output='css/compiled/app_login.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}
    </head>
    <body class="azul-gris">

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div id="toast-container">
                      <div class="toast {{ type }}" style="top: 0px; opacity: 1; max-width: 600px;">
                        <span>{{ message }}</span>
                      </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

        {% block javascripts %}
        {% javascripts
        '@uijs'
        output='js/compiled/app_login.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
    </body>
</html>
