<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Aterrizar.com{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
        {% stylesheets
        '@uicss'
        filter='cssrewrite' output='css/compiled/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}
    </head>
    <body class="layout-dark grey lighten-3">

        {% include 'header.html.twig' %}
        {% include 'horizontal_nav.html.twig' %}

        <div id="toast-container">
          <div class="toast" style="top: 0px; opacity: 1; max-width: 600px; display: none">
            <span>Aca van las notificaciones</span>
            <button class="btn-flat toast-action">Deshacer</button>
          </div>
        </div>

        {% block body %}{% endblock %}

        {% include 'footer.html.twig' %}

        {% block javascripts %}
        {% javascripts
        '@uijs'
        output='js/compiled/app.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
    </body>
</html>
