<header id="header" class="page-topbar">
  <!-- start header nav-->
  <div class="navbar-fixed">
    <nav class="navbar-color azul-gris">

      <div class="nav-wrapper">
        <ul class="left">
          <li>
            <h1 class="logo-wrapper">
              <img class="brand-logo" src="{{asset('bundles/app/img/aterrizar_blanco.png')}}" alt="materialize logo" height="65">
            </h1>
          </li>
        </ul>
        <!-- <div class="header-search-wrapper hide-on-med-and-down sideNav-lock">
        <i class="material-icons">search</i>
        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Busca un destino">
      </div> -->
      <ul class="right hide-on-med-and-down">
        {% if app.user %}
        <li>
          <a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown">
            <i class="material-icons">shopping_cart<small class="notification-badge">3</small></i>
          </a>
          <ul id="notifications-dropdown" class="dropdown-content">
            <li>
              <h6>CARRITO <span class="new badge">3</span></h6>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#!" class="grey-text text-darken-2"><span class="material-icons icon-bg-circle cyan small">flight</span> Un vuelo se ha añadido</a>
              <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">Hace 2 horas</time>
            </li>
            <li>
              <a href="#!" class="grey-text text-darken-2"><span class="material-icons icon-bg-circle red small">hotel</span> Tiene una reserva pendiente</a>
              <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">Hace 3 días</time>
            </li>
            <li>
              <a href="#!" class="grey-text text-darken-2"><span class="material-icons icon-bg-circle teal small">directions_car</span> Un coche se ha añadido</a>
              <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">Hace 4 días</time>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0);" class="waves-effect waves-block waves-light profile-button" data-activates="profile-dropdown"><i class="material-icons">person</i></a>
          <ul id="profile-dropdown" class="dropdown-content" style="white-space: nowrap; opacity: 1; left: 1426.64px; position: absolute; top: 64px; display: none;">
            <li>
              <a href="{{ path('fos_user_profile_show') }}" class="grey-text text-darken-1"><i class="material-icons">face</i> Perfil</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="{{ path('fos_user_security_login') }}" class="grey-text text-darken-1"><i class="material-icons">keyboard_tab</i> Cerrar Sesión</a>
            </li>
          </ul>
        </li>
        {% else %}
        <li>
          <a href="{{path('fos_user_registration_register')}}" class="waves-effect waves-block waves-light"><i class="material-icons small left">person</i>Iniciar Sesion</a>
        </li>
        {% endif %}
      </ul>
      <!-- translation-button -->
      <!-- notifications-dropdown -->
      <!-- profile-dropdown -->
    </div>
  </nav>
</div>
</header>
