<nav id="horizontal-nav" class="white hide-on-med-and-down">
  <div class="nav-wrapper">
    <ul id="ul-horizontal-nav" class="left hide-on-med-and-down">
      <li>
        <a href="{{ path('homepage') }}">
          <i class="material-icons">dashboard</i>
          <span>Inicio</span>
        </a>
      </li>
      <li class="active">
        <a id="btn_vuelo" href="javascript:void(0)">
          <i class="material-icons">airplanemode_active</i>
          <span>Vuelos</span>
        </a>
      </li>
      <li>
        <a id="btn_hotel" href="javascript:void(0)">
          <i class="material-icons">hotel</i>
          <span>Hoteles</span>
        </a>
      </li>
      <li>
        <a id="btn_auto" href="javascript:void(0)">
          <i class="material-icons">directions_car</i>
          <span>Autos</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
