{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <h1 class="light">Complete los datos de la prestadora de Autos</h1>
  <ul>
    <li>
      <a href="{{ path('auto_index') }}">Volver a la lista</a>
    </li>
  </ul>

  {{ form_start(form) }}
  {{ form_widget(form) }}
  <input class="btn" type="submit" value="Crear" />
  {{ form_end(form) }}


</div>
{% endblock %}
